
    #cargo_especialidade_hid{
        display: none;
    }
    
    fieldset{
        padding: 20px;
        margin-left: auto;
        margin-right:auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 666px;
        border-style: solid;
        border-width: 2px;
        border-color: #66e0ff;
    }
    legend{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        font-size: 35px;
        font-weight:bold; 
        text-shadow: 0.03em 0.03em 0.10em #00ccff;
    }
    select{
        width: 150px;
    }
    .radio-div{
        display:inline;
        margin-right: 50px;
    }
    .radio-div-2{
        display: block;
        margin-right: 50px;
    }
    .tipo{
        margin-bottom: 30px;
        margin-top: 1px;
    }
    .title{
        font-weight: bold;
        margin-top: 10px;
    }
    .button {
      padding: 5px 20px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #0099ff;
      border: none;
      border-radius: 15px;
      box-shadow: 0 7px #999;
    }
    .button:hover {
        background-color: #0033cc;
    }
    .button:active {
      background-color: #0033cc;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    .input-btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
